@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*importando uma font direto do google*/
.espaco{
    margin-top:55px;/*espaçamento na margin superior, utilizei para colocar embaixo das tables de posicões(left,right,top)*/
}
.h1S{
    text-align: center;/*alinhando ao centro o texto*/
    font-size: 45px;/*colocando tamanho pra o texto*/
    font-family: 'Bebas Neue', cursive;/*chamando a font*/
    text-shadow: 1px 1px 1px red;/*colocar envolta do enquadramento do objeto uma sombra*/
    color: white;/*cor dos itens de texto*/
}
.table01{
    background-color: black;/* cor de fundo*/
    height: 50%;/*altura*/
    
}
.td1{
    color: white;/*cor do itens de texto*/
    font-family: 'Bebas Neue', cursive;/*fonte exportada sendo usada*/
    text-align: center;/*alinhando texto ao centro*/
}
.tr1{
    color: white;/*cor dos itens de texto*/
    font-family: 'Bebas Neue', cursive;/*fonte exportada sendo usada*/
    background-color: rgba(113, 0, 136, 0.164);/*cor de fundo transparente ate um certo ponto*/
    padding-top: 100px;/*colocando um espaçamento*/
    padding-bottom:100px;/*colocando um espaçamento*/
    padding-left: 50px;/*colocando um espaçamento*/
    padding-right: 50px;/*colocando um espaçamento*/
    border-radius: 20px;/*colocando um espaçamento*/
}
.tr1:hover{
    transition: 1s;/*um tempo para acontecer as ações aqui*/
    border:2px solid rgb(175, 3, 152);/*borda envolta do objeto*/
    box-shadow: 10px 10px 10px rgb(119, 1, 103);/*colocar envolta do enquadramento do objeto uma sombra*/
    background-color: rgba(113, 0, 136, 0.911);/*cor de fundo transparente ate um certo ponto*/
}